<br><br>
<p><%= link_to("Back", merchantprofiles_path) %></p>
<br><br>
<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th colspan="2"></th>
	</tr>
	<tr>
		<td><%= @merchantprofile.name %></td>
		<td><%= @merchantprofile.email %></td>
		<td><%= link_to("Edit", edit_merchantprofile_path(@merchantprofile)) %></td>
		<td><%= link_to 'Delete', merchantprofile_path(@merchantprofile), method: :delete, data: {confirm: "Are you sure?"} %></td>
	</tr>
</table>