<!--Using form_with helper / using model to tie the form to a specific model so it can understand the column names as in that model
    @offer is an instance variable, holding an instance of class Offer, created in offers_controller.rb
    we use it to pass the id of the product to the `new` template
 -->
<%= form_with model: @offer, local: true do |form| %>
  <p>
    <%= @offer %>
  </p>

<p>
  <%= form.label :product_id %><br>
  <%= form.text_field :product_id %><br>
</p>
<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %><br>
</p>
<p>
  <%= form.label :description %><br>
  <%= form.text_field :description %><br>
</p>
<p>
  <%= form.label :suggested_price %><br>
  <%= form.text_field :suggested_price %><br>
</p>
<p>
  <%= form.label :status %><br>
  <%= form.text_field :status %><br>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>
