
<%= form_for(@product) do |form| %>

  <p><%= form.label("Sprzedawca") %></p>
  <p><%= form.text_field("merchantprofile_id") %></p>

  <p><%= form.label("Nazwa") %></p>
  <p><%= form.text_field("name") %></p>

  <p><%= form.label("Opis") %></p>
  <p><%= form.text_area("description") %></p>

  <p><%= form.label("Oferta") %></p>
  <p><%= form.text_field("suggested_price") %></p>

  <p><%= form.submit %></p>

<% end %>

<p><%= link_to 'Delete', product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %></p>
<p><%= link_to("Back", products_path) %></p>
