
<table width="1000px">
    <th colspan="4">LISTA PRODUKTÓW</th>
    <tr>
      <td>
<% @product.each do |product| %>
        <table id="produkt"; cellpadding="30">
            <tr>
              <td ><%= link_to(product.name, product_path(product)) %></td>
              <td ><%= product.description %></td>
              <td><%= product.suggested_price %></td>
              <td ><%= link_to('Place new offer', product_path(product)) %></td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
</table>
<%= link_to("Dodaj produkt", new_product_path) %>
