
<h3>List of products</h3>
<% @product.each do |product| %>
        <table>
            <tr>
              <td><%= link_to(product.name, product_path(product)) %></td>
              <td><%= product.description %></td>
              <td><%= product.suggested_price %></td>
              <td><%= link_to('Place new offer', new_offer_path(product)) %></td>
            </tr>
        </table>
<% end %>
<br><br>
<%= link_to("Add new product", new_product_path) %>
