<%= form_for(Product.new) do |form| %>

  <%= form.hidden_field :merchantprofile_id, value: Merchantprofile.first.id %>
 
  <p><%= form.label("Nazwa") %></p>
  <p><%= form.text_field("name") %></p>
 
  <p><%= form.label("Opis") %></p>
  <p><%= form.text_area("description") %></p>
 
  <p><%= form.label("Oferta") %></p>
  <p><%= form.text_field("suggested_price") %></p>
 
  <p><%= form.submit %></p>

<% end %>
<br><br>
<p><%= link_to("Back", products_path) %></p>
