
  <%= form_for(Product.new) do |form| %>
    <p><%= form.label("Product name") %></p>
    <p><%= form.text_field("name") %></p>

    <p><%= form.label("Description") %></p>
    <p><%= form.text_area("description") %></p>
    
    <p><%= form.label("Initial price") %></p>
    <p><%= form.text_field("suggested_price") %></p>
    
    <p><%= form.submit %></p>
  <% end %>
  <br><br>
  <p><%= link_to("Back", products_path) %></p>
