<%= form_for @product do |form| %>


<!-- Walidacja nie działa -->
	<% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :merchantprofile_id, value: Merchantprofile.last.id %>
 
  <p><%= form.label("Name") %></p>
  <p><%= form.text_field("name") %></p>
 
  <p><%= form.label("Description") %></p>
  <p><%= form.text_area("description") %></p>
 
  <p><%= form.label("Initial price") %></p>
  <p><%= form.text_field("suggested_price") %></p>
 
  <p><%= form.submit %></p>

<% end %>
<br><br>
<p><%= link_to("Back", products_path) %></p>
