
<h2><%= @product.name %></h2>
  <p><%= @product.description %></p>
  <p><%= @product.suggested_price %></p>

<p><%= link_to("Edytuj produkt", edit_product_path(@product)) %></p>

  <p><%= link_to("Powrót do listy produktów", products_path) %></p>
